@model ServiceItemModelList
<form asp-action="Create" asp-controller="ServiceItem">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" id="popupDialogLabel">Create Service Item</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-md-center">
                        <tr style="font-size: 14px">
                            <th style="text-align: left;min-width: 120px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.SrvcItemId)
                            </th>
                            <th style="text-align: left;min-width: 120px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.SrvcDesc)
                            </th>
                            <th style="text-align: left;min-width: 100px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.CategoryId)
                            </th>
                            <th style="text-align: left;min-width: 100px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.GrpCde)
                            </th>
                            <th style="text-align: left;min-width: 100px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.BaseUnit)
                            </th>
                            <th style="text-align: left;min-width: 100px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.SrvcAmt)
                            </th>
                            <th style="text-align: left;min-width: 100px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ServiceItem.AccCde)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-md-center">
                        <tr style="font-size: 12px">
                            <td>
                                <input asp-for="@Model.ServiceItem.SrvcItemId" class="form-control form-control-sm" />
                            </td>
                            <td>
                                <input asp-for="@Model.ServiceItem.SrvcDesc" class="form-control form-control-sm" />
                            </td>
                            <td>
                                <select asp-for="@Model.ServiceItem.CategoryId" class="form-control form-control-sm">
                                    @foreach (var category in Model.StockCategories)
                                    {
                                        <option value="@category.CategoryId">@category.CategoryId</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <select asp-for="@Model.ServiceItem.GrpCde" class="form-control form-control-sm">
                                    @foreach (var category in Model.StockGroups)
                                    {
                                        <option value="@category.GrpCde">@category.GrpDesc</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input asp-for="@Model.ServiceItem.BaseUnit" class="form-control form-control-sm" />
                            </td>
                            <td>
                                <input id="decimalInput01" asp-for="@Model.ServiceItem.SrvcAmt" type="number" step="0.01" min="0" class="form-control form-control-sm" onblur="formatDecimal('decimalInput01')" />
                            </td>
                            <td>
                                <input asp-for="@Model.ServiceItem.AccCde" class="form-control form-control-sm" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="cleanDefaultContainer()">Close</button>
            <button type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</form>
