@model StockPkgH
<form asp-action="Delete" asp-controller="StockPackge">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" id="popupDialogLabel">Delete Stock Package</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-md-center">
                        <tr style="font-size: 14px">
                            <th style="width: 40px;text-align: left">
                                @Html.DisplayNameFor(model => model.PkgHId)
                            </th>
                            <th style="width: 200px;text-align: left">
                                @Html.DisplayNameFor(model => model.PkgNme)
                            </th>
                            <th style="text-align: left">
                                @Html.DisplayNameFor(model => model.SellingPrice)
                            </th>
                            <th style="text-align: left">
                                @Html.DisplayNameFor(model => model.RevDtetime)
                            </th>
                            <th style="text-align: left">
                                @Html.DisplayNameFor(model => model.UserCde)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-md-center">
                        <tr style="font-size: 14px">
                            <td style="text-align: left">
                                @Html.DisplayFor(model => model.PkgHId )
                            </td>
                            <td style="text-align: left">
                                @Html.DisplayFor(model => model.PkgNme)
                            </td>
                            <td style="text-align: right">
                                @Html.DisplayFor(model => model.SellingPrice)
                            </td>
                            <td style="text-align: left">
                                @Html.DisplayFor(model => model.RevDtetime)
                            </td>
                            <td style="text-align: left">
                                @Html.DisplayFor(model => model.UserCde)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="cleanDefaultContainer()">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
</form>
