@model StockPkgH
<form asp-action="Edit" asp-controller="StockPackage" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" id="popupDialogLabel">Update Stock Package</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-md-center">
                        <tr style="font-size: 14px">
                            <th style="min-width: 60px;text-align: left">
                                @Html.DisplayNameFor(model => model.PkgHId)
                            </th>
                            <th style="min-width: 120px;text-align: left">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.PkgNme)
                            </th>
                            <th style="min-width: 120px;text-align: left">
                                @Html.DisplayNameFor(model => model.SellingPrice)
                            </th>
                            <th style="min-width: 100px;text-align: left">
                                @Html.DisplayNameFor(model => model.Barcode)
                            </th>
                            <th style="min-width: 120px;text-align: left">
                                @Html.DisplayNameFor(model => model.Image)
                            </th>
                            <th style="text-align: left">
                                @Html.DisplayNameFor(model => model.RevDtetime)
                            </th>
                            <th style="text-align: left">
                                @Html.DisplayNameFor(model => model.UserCde)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-md-center">
                        <tr style="font-size: 12px">
                            <td>
                                <input asp-for="@Model.PkgHId" class="form-control form-control-sm" readonly/>
                            </td>
                            <td>
                                <input asp-for="@Model.PkgNme" class="form-control form-control-sm" />
                                <span asp-validation-for="@Model.PkgNme" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="@Model.SellingPrice" class="form-control form-control-sm" />
                            </td>
                            <td>
                                <input asp-for="@Model.Barcode" class="form-control form-control-sm" />
                            </td>
                            <td>
                                    @if(Model.Image != null)
                                    {
                                        <img src="data:image/jpeg;base64,@Model.Base64Image" alt="Image" width="80" height="80" />
                                    }
                                <input id="imageFile" type="file" asp-for="@Model.ImageFile" class="form-control form-control-sm" />
                                <span style="color: red">*&nbsp;</span>Image size needs to be less than 500KB.
                                <input asp-for="@Model.Image" type="hidden"/>
                            </td>
                            <td>
                                <input asp-for="@Model.RevDtetime" type="text" class="form-control form-control-sm" readonly />
                            </td>
                            <td>
                                <input asp-for="@Model.UserId" type="text" class="form-control form-control-sm" readonly />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="cleanDefaultContainer()">Close</button>
            <button type="submit" class="btn btn-info">Save changes</button>
        </div>
    </div>
</form>
